* {
    margin: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
    height: auto;
}

.main-container {
    background-image: url('./images/piano.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.key-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.key {
    background: rgb(255, 255, 255, 0.6);
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    transition: all 0.2s;
}

.playing {
    transform: scale(0.8);
    border: 2px solid palevioletred;
    box-shadow: 0 0 5px palevioletred;
}

.footer {
    height: 100%;
    font-size: 30px; 
    font-family: 'Open Sans Condensed', sans-serif;    
    color: #ffffff;
    background: black;
    height: auto;
    text-align: center;
}
